# Source passwords
#source "gpg -dq ~/.mutt/muttpassenc.asc |"

# Incoming Gmail
set imap_user = "TODO_username@gmail.com"
set imap_pass = $my_imap_pass
set folder = "imaps://imap.gmail.com/"
set spoolfile = "+INBOX"
mailboxes = "+INBOX"

# Archives/Drafts/Sent
set my_archives_dir = "[Gmail]/All Mail"
set my_drafts_dir = "[Gmail]/Drafts"
set my_sent_dir = "[Gmail]/Sent Mail"

# Actually delete message
macro index,pager d "<save-message>=[Gmail]/Trash<enter>" \
    "Move message to trash"

# Automagically save sent messages on the imap server
# set record = "+[Gmail]/Sent Mail"
# Gmail already does and we don't want duplicates
unset record

# Drafts
set postponed = "+[Gmail]/Drafts"

# Outgoing Gmail
set realname = "TODO_realname"
set from = $imap_user
set use_from = yes
set smtp_url = "smtps://$imap_user:$imap_pass@smtp.gmail.com"
set ssl_force_tls = yes

# Sending
set hostname = "gmail.com"
set use_domain = yes
my_hdr Bcc: $imap_user

# Store message headers locally to speed things up
set header_cache = "~/.cache/mutt"

color index green default "~C TODO_firstname"
color index white red ".*phish.*"
color index white red ".*spam.*"
